<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= user.userName %></title>
</head>
<body>
        <h1><%= user.userName %></h1>
       
        <img style="max-width:300px" src="<%= user.image %>" alt=""> <br/>
        <a style="padding: 15px 30px" href="/logout">Logout</a>
       
        
</body>
</html>